html,
body {
  margin: 0;
  padding: 0; }

body {
  font: 14px Helvetica Neue, Muli, helvetica, arial;
  background: #eaeaea url("/images/base.png");
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  cursor: pointer; }

*:focus {
  outline: 0 !important; }

.help-block {
  color: red !important; }

#authModalTrigger {
  margin-top: 8px; }

.title, .title-header, .title-assignment-name, .title-assignee, .title-label, .title-selection {
  font-size: 18px;
  font-weight: bold; }
  .title-header {
    font-size: 25px;
    color: #2C3E50;
    margin: 5px 0 10px 0; }
  .title-assignment-name {
    font-size: 22px;
    color: #67809F; }
  .title-assignee {
    margin: 5px 0 20px 0;
    color: #2574A9; }
  .title-label {
    color: #336E7B;
    margin: 0 0 10px 0; }
  .title-selection {
    color: #34495E; }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

#mainContent {
  margin-top: 70px; }
