html,
body {
  margin: 0;
  padding: 0; }

body {
  font: 14px Helvetica Neue, Muli, helvetica, arial;
  background: #eaeaea url("/images/base.png");
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased; }

a {
  cursor: pointer; }

*:focus {
  outline: 0 !important; }

.help-block {
  color: red !important; }

#authModalTrigger {
  margin-top: 8px; }

.chatapp {
  font-family: Helvetica Neue, Muli, helvetica, arial;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden; }

.message-list, .thread-list {
  border: 1px solid #ccf;
  font-size: 16px;
  height: 400px;
  margin: 0;
  overflow-y: auto;
  padding: 0; }

.message-thread-heading, .thread-count {
  height: 40px;
  margin: 0; }

.tool-item, .message-list-item, .thread-list-item {
  clear: both;
  list-style: none; }

.thread-list-item.active, .thread-list:hover .thread-list-item.active, .thread-list:hover .thread-list-item.active:hover {
  background-color: #efefff;
  cursor: default; }

.message-author-name, .thread-name {
  color: #66c;
  font-size: 13px;
  margin: 0; }

.message-time, .thread-time {
  color: #aad;
  font-size: 12px; }

.message-delete {
  position: relative;
  cursor: pointer; }

.message-bubble {
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  position: relative;
  box-shadow: 0px 0px 6px #B2B2B2;
  padding: 6px 18px;
  max-width: 300px;
  word-wrap: break-word; }
  .message-bubble::before {
    display: block;
    position: absolute;
    content: "\00a0";
    top: 5px;
    -webkit-transform: rotate(29deg) skew(-35deg);
    -khtml-transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    transform: rotate(29deg) skew(-35deg);
    width: 10px;
    height: 8px; }

.message-photo {
  width: 40px;
  height: 40px; }

.message-text, .thread-last-message {
  clear: both;
  font-size: 14px;
  padding-top: 10px; }

.clearboth {
  clear: both; }

.button-delete {
  opacity: 0;
  box-shadow: 0px 0px 10px #B2B2B2;
  width: 10px;
  height: 10px;
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .message-list-item:hover .button-delete {
    opacity: 0.8; }

.message-toolbar-container {
  background-color: #e1d8cd; }

.message-tool-bar {
  padding: 0;
  margin: 0; }

.tool-item {
  padding: 0px 5px 0 5px;
  display: inline; }
  .tool-item-image {
    width: 30px;
    height: 30px; }

.message-section {
  float: right;
  width: 65%; }

.thread-section {
  float: left;
  width: 32.5%; }

.message-list-item {
  padding: 10px 14px 0px 14px; }

.thread-list {
  overflow-x: hidden; }
  .thread-list-item {
    padding: 12px 14px 14px; }
    .thread-list .thread-list-item {
      -webkit-transition: 0.2s;
      -khtml-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }
    .thread-list:hover .thread-list-item {
      background-color: #fff; }
    .thread-list:hover .thread-list-item:hover {
      background-color: #f8f8ff; }

.message-composer {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  margin: 0px 0 0;
  padding: 10px;
  width: 100%;
  height: 5em; }

.present .message-box {
  float: right; }

.others .message-box {
  float: left; }

.present .message-author-name {
  text-align: right;
  margin-right: 45px; }

.others .message-author-name {
  text-align: left;
  margin-left: 45px; }

.present .message-time {
  float: right;
  position: relative;
  top: 40px;
  left: 15px; }

.others .message-time {
  float: left;
  position: relative;
  top: 40px;
  left: -15px; }

.present .message-bubble {
  background-color: #0f0;
  top: -25px;
  left: -30px;
  margin: 5px 20px 5px 45px;
  float: right; }
  .present .message-bubble::before {
    background-color: #0f0;
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, 0.4);
    right: -1px; }

.others .message-bubble {
  background-color: #F2F2F2;
  top: -25px;
  left: 30px;
  margin: 5px 45px 5px 20px;
  float: left; }
  .others .message-bubble::before {
    background-color: #F2F2F2;
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
    left: -1px; }

.message-delete {
  top: 5px; }
  .present .message-delete {
    left: 16px;
    float: right; }
  .others .message-delete {
    left: -16px;
    float: left; }

.present .message-photo {
  float: right; }

.others .message-photo {
  float: left; }

.thread-name {
  float: left; }

.thread-time {
  float: right; }

.hide {
  visibility: hidden; }

.title, .title-header, .title-assignment-name, .title-assignee, .title-label, .title-selection {
  font-size: 18px;
  font-weight: bold; }
  .title-header {
    font-size: 25px;
    color: #2C3E50;
    margin: 5px 0 10px 0; }
  .title-assignment-name {
    font-size: 22px;
    color: #67809F; }
  .title-assignee {
    margin: 5px 0 20px 0;
    color: #2574A9; }
  .title-label {
    color: #336E7B;
    margin: 0 0 10px 0; }
  .title-selection {
    color: #34495E; }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

#mainContent {
  margin-top: 70px; }
